{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{% block body %}
<p>Node Public Key</p>
{{ config.NODE_PUBLIC_KEY }}
<p>Keys</p>
Hi {{ current_user.email }}! <br>
<a href={{url_for('logout')}}>Logout</a>
<br>
<form method=post action={{url_for('keys')}}>
    <dl>
        {{ render_field(form.instance_id) }}
        {{ render_field(form.key) }}
    </dl>
    <p><input type=submit value='Add Key'>
</form>
<br>
<ul>
    {% for key in key_list %}
    <li>
        Instance Id: {{ key.instance_id }}
        <a href={{url_for('edit_key', key_id=key.id)}}>Edit</a>
        <!--a href={{url_for('delete_key', key_id=key.id)}} onclick="confirmDelete(key.id)">Delete</a-->
        <a href="#" onclick="confirmDelete('{{key.id}}');event.preventDefault();">Delete</a>
        <br>
        Key: {{key.instance.public_key}}<br>
    </li>
    {% endfor %}
</ul>

<script src="../static/functions.js"></script>
{% endblock %}